.logo img {
  width: 150px;
}
.barra-navigazione {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(251, 247, 181, 0.74);
  margin-top: 10px;
  border: 1px solid green;
}
.menu {
  margin: 0 auto;
}
.menu a {
  color: #E009A4;
  border: 3px solid #E009A4;
  text-decoration: none;
  line-height: 50px;
  font-size: 30px;
  font-family: fantasy;
  margin: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
