.logo img {
  width: 150px;
}
body {
  margin: 0;
  padding: 0;
}
.barra-navigazione {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(251, 247, 181, 0.74);
  border-bottom: 2px solid #cccccc;
}
.menu {
  margin: 0 auto;
}
.menu a {
  color: #E009A4;
  border: 3px solid #E009A4;
  text-decoration: none;
  line-height: 50px;
  font-size: 30px;
  font-family: fantasy;
  margin: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.presentazione-della-recensione {
  background: url("immagini/sfondo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 720px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #c77f14;
}
.presentazione-della-recensione .titolo {
  font-weight: bolder;
  font-size: 100px;
  color: #E009A4;
  font-family: fantasy;
  text-transform: capitalize;
  margin: 0 auto;
}
.presentazione-della-recensione .recensore {
  margin: 0;
  font-family: cursive;
  font-size: 50px;
  color: white;
}
.presentazione-della-recensione .recensore em {
  color: #E009A4;
}
.info-prodotto {
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: #fed060;
}
.info-prodotto table {
  border-collapse: collapse;
  background-color: rgba(251, 247, 181, 0.74);
  margin-top: 20px;
  margin-bottom: 20px;
}
.info-prodotto table td {
  border: 5px solid #E009A4;
  font-family: Helvetica;
  text-align: center;
  padding: 0.5rem;
}
.info-prodotto table td em {
  font-weight: bold;
}
.contenuti-recensione {
  background-color: #fed060;
  padding: 0 100px 20px 100px;
}
.contenuti-recensione .blocco-paragrafo {
  background-color: white;
  padding: 20px;
}
.contenuti-recensione .blocco-paragrafo p {
  font-family: georgia;
  text-align: justify;
}
.contenuti-recensione .blocco-paragrafo p em {
  font-weight: bold;
}
.contenuti-recensione .blocco-paragrafo p a {
  color: #E009A4;
  font-size: 20px;
  text-decoration: none;
}
.contenuti-recensione .blocco-paragrafo .evidenza {
  font-size: 20px;
  color: #009688;
  line-height: 25px;
}
.contenuti-recensione .blocco-immagine {
  background-color: white;
  padding-bottom: 20px;
}
.contenuti-recensione .blocco-immagine img {
  display: block;
  margin: 0 auto;
}
.sfondo-testo {
  padding: 20px;
  background: url("immagini/sfondo-testo.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}
