.logo img {
  width: 150px;
}
.barra-navigazione {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(251, 247, 181, 0.74);
  margin-top: 10px;
  border: 1px solid green;
}
.menu {
  margin: 0 auto;
}
.menu a {
  color: #E009A4;
  border: 3px solid #E009A4;
  text-decoration: none;
  line-height: 50px;
  font-size: 30px;
  font-family: fantasy;
  margin: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.presentazione-della-recensione {
  width: 1350px;
  height: 1000px;
  background: url("immagini/sfondo.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.presentazione-della-recensione .titolo {
  font-weight: bolder;
  font-size: 100px;
  color: #E009A4;
  font-family: fantasy;
  text-transform: capitalize;
  margin: 0 auto;
}
.presentazione-della-recensione .recensore {
  margin: 0;
  font-family: cursive;
  font-size: 50px;
  color: white;
}
.presentazione-della-recensione .recensore em {
  color: #E009A4;
}
